<script type="text/javascript">

  $(document).ready(function() {
    $.get("/api/invoices", function(invoices) {
      $("#invoices").html("");

      invoices.forEach(function(invoice) {
        let invoice_html = "<div class='invoice'><a href='/invoices/" + invoice.id + "'>Invoice " + invoice.id + "</a> Line items: " + (invoice.line_items || []).length + "</div>";
        $("#invoices").append(invoice_html);
      })
    });
  });

</script>

<h1>Actions</h1>

<a href="/invoices">Create an invoice</a>

<h1>Invoices</h1>

<div id="invoices">
</div>