<script type="text/javascript">

  $(document).ready(function() {
    $.get("/api/invoices/<%= @id %>", function(invoice) {
      $("#title").html(invoice.name);
      $("#line_items").html("<tr><th>Name</th><th>Quantity</th><th>Unit Cost</th><th>Total Cost</th></tr>");

      let total_cost = 0.0;

      invoice.line_items.forEach(function(line_item) {
        if (line_item.quantity == null) {
          line_item.quantity = 1;
        }
        if (line_item.cost == null) {
          line_item.cost = 0.0;
        }
        let line_cost = line_item.cost * line_item.quantity;
        let str = "<tr><td>" + line_item.title + "</td><td>" + line_item.quantity + "</td><td>$" + line_item.cost + "</td><td>$" + line_cost + "</td></tr>";
        $("#line_items").append(str);
        total_cost += line_cost;
      })

      let str = "<tr><td></td><td></td><td>Total Cost:</td><td>" + total_cost + "</td></tr>";
      $("#line_items").append(str);

    });
  });

</script>

<h1>Actions</h1>

<a href="/invoices">Create an invoice</a>
<a href="/">Show all Invoices</a>

<h1>Invoice</h1>

<div id="invoice">
  <h2 id="title"></h2>
  <table id="line_items">

  </table>
</div>
